.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: none;
  margin: 0;
  padding: 10px 30px;
  border-radius: 3px;
  background-color: #008080;
  color: #fff;
  font: inherit;
  cursor: pointer;

  /* overflow: hidden; */

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn::before,
.btn::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;

  background-size: contain;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn::before {
  margin-right: 5px;

  background-image: url('../images/bird.svg');
}

.btn:hover::before,
.btn:focus::before {
  transform: translateY(-35px);
}

.btn::after {
  position: absolute;
  top: 50%;
  /* left: 30px; */
  background-image: url('../images/cat.svg');

  transform: translateY(calc(-50% + 35px));
}

.btn:hover::after,
.btn:focus::after {
  transform: translateY(-50%);
}

.btn:hover,
.btn:focus {
  background-color: #d87093;
}

.margined {
  margin-top: 60px;
}

.btn-1 {
  position: relative;

  display: inline-flex;
  align-items: center;
  padding: 10px 30px;
  margin: 0;

  font: inherit;
  color: #fff;
  cursor: pointer;

  background-color: teal;
  border: none;
  border-radius: 4px;

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-1:hover {
  background-color: #d87093;
}

.btn-1::before,
.btn-1::after {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;

  content: '';

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-1::before {
  background-image: url(../images/smile.svg);
  background-size: contain;
}

.btn-1::after {
  position: absolute;
  transform: translateY(35px);
  background-image: url(../images/bird.svg);
  content: '';
}

.btn-1:hover::before {
  transform: translateY(-34px);
}

.btn-1:hover::after {
  position: absolute;

  transform: translateY(0%);
}
