*,
::after,
::before {
  box-sizing: border-box;
}

body {
  padding: 5px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form {
  padding: 20px 20px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid tomato;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-field label {
  margin-bottom: 5px;
}

.form-field input {
  padding: 10px 20px;

  font-family: inherit;
  font-size: 16px;

  border-width: 1px;
  border-color: #2a2a2a;
  border-radius: 3px;
}
