body {
  display: block;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.js-speaker-form {
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  /* display: block; */
  /* width: 1000px; */
  /* height: 200px; */
  background-color: lightcyan;

  outline: 1px solid tomato;
}
